<div class="sidebar-content">
  <div class="division">
    <button><fa-icon [icon]="house"></fa-icon> Início</button>
    <button><fa-icon [icon]="play"></fa-icon> Shorts</button>
    <button><fa-icon [icon]="display"></fa-icon> Inscrições</button>
  </div>

  <div class="division int">
    <button>Você ></button>
    <button><fa-icon [icon]="clockRotateLeft"></fa-icon> Histórico</button>
    <button><fa-icon [icon]="barsStaggered"></fa-icon> Playlist</button>
    <button><fa-icon [icon]="video"></fa-icon> Seus vídeos</button>
    <button><fa-icon [icon]="clock"></fa-icon> Assistir mais tarde</button>
    <button><fa-icon [icon]="thumbsUp"></fa-icon> Vídeos com "gostei"</button>
  </div>

  <div class="division">
    <h2>Inscrições</h2>
  </div>

  <div class="division">
    <h2>Explorar</h2>

    <button><fa-icon [icon]="fire"></fa-icon> Em Alta</button>
    <button><fa-icon [icon]="shoppingBag"></fa-icon> Shopping</button>
    <button><fa-icon [icon]="music"></fa-icon> Música</button>
    <button><fa-icon [icon]="clapperboard"></fa-icon> Filmes</button>
    <button><fa-icon [icon]="towerBroadcast"></fa-icon> Ao vivo</button>
    <button><fa-icon [icon]="gamepad"></fa-icon> Jogos</button>
    <button><fa-icon [icon]="newspaper"></fa-icon> Notícias</button>
    <button><fa-icon [icon]="trophy"></fa-icon> Esportes</button>
    <button><fa-icon [icon]="lightbulb"></fa-icon> Cursos</button>
    <button><fa-icon [icon]="podcast"></fa-icon> Podcasts</button>
  </div>

  <div class="division">
    <h2>Mais do YouTube</h2>
  </div>

  <div class="division">
    <button><fa-icon [icon]="gear"></fa-icon> Configurações</button>
    <button><fa-icon [icon]="flag"></fa-icon> Histórico de denúncias</button>
    <button><fa-icon [icon]="circleQuestion"></fa-icon> Ajuda</button>
    <button><fa-icon [icon]="exclamation"></fa-icon> Enviar feedback</button>
  </div>
</div>
